
body{
     background: #98f6a9;
}
#menu { 
 list-style-type: none;/*quitar viñetas a la lista*/
 margin: 20;	
 padding: 2;
 overflow: hidden;/**/
  background-color: #454C46;
   }
/*Elementos items principales de menú que se muestran siempre*/
#menu li { 
font-family: Arial, Helvetica, sans-serif;   
   font-size: 14px;
   list-style: none; 
   overflow: hidden;
   float: left; 
   margin:0px;
   }
#menu li a {
   display: block; /* Usamos display block para poder aplicar propiedades de caja a links */
   padding: 10px 15px; 
   color: #fff;
    text-align: left;
   text-decoration: none; 
   }
/*Listas de subitems de menú*/  
#menu li ul {
   display: none; /*La lista inicialmente no se muestra debido a display:none; */
   background-color: #06E37B;
   }
   #menu li:hover ul {
   font-family: Arial, Helvetica, sans-serif;   
   font-size: 14px;
   display: block; /*Al situar el cursor sobre el item la lista de subitems pasa de display none a display block y se muestra*/
   position: absolute; /*Al desplegarse el submenú no ocupa espacio y no desplaza a otros elementos gracias a que establecemos position absolute*/
   margin: 0; padding: 0; /*Anulamos margin y padding que por defecto introducen navegadores*/
   }
#menu li:hover li 
{ 
   float: none; 
   } /*Anulamos el float left que define el elemento padre para que los subitems se muestren en vertical */
   
/*Creamos la apariencia de los subitems de menú, color de fondo, borde inferior, color de texto*/
#menu li:hover li a { 
  background-color: #06E37B;  
  border-bottom: 2px solid #fff;
  color: #000; 
  }/*Creamos el efecto de cambio de color y aspecto cuando ponemos el puntero del ratón sobre un subitem de menú */  
#menu li li a:hover { 
   background-color:#00FF87 ; 
   }
li a:hover {
    background-color:#06E37B;}


body { margin: 0; } 
div#slider { overflow: hidden; } /* las imágenes no van a salir del márgen de la caja*/
div#slider figure img { width: 20%; float: left; }

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: center;
  font-size: 0;
  animation: 15s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}


/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
.caja {
background-color: #FF0000;
width:700px;
height:350px;
float:center;
margin-left: auto;
margin-right: auto;
}  

   

//
<style>
body {
  font-family:  Helvetica;
}

.flip-card {
  background-color: transparent;
  width: 285px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
   
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   border-radius: 10px;
}

.flip-card-front {
    background-color: #78c4c8;
    color:black;
    font-size: 17px;
    font-family: Helvetica; 
    text-align: justify;
    padding-left: 15px;
    border-left: 15px;
    padding-right: 15px;
    border-right: 15px;
    
}


.flip-card-back {
  background: linear-gradient(#98f6a9,#9E9E9E);
  font-family: Helvetica;  
  font-size: 16px;
  color: black;
    text-align: justify;
    padding-left: 15px;
    border-left: 15px; 
    padding-right: 15px;
    border-right: 15px;

  transform: rotateY(180deg);

}

#content{
    position: center;

	
}

strong{
    padding-left:400px;
    width: 400px;
    height: 400px;
    left: 200px;
}
.tabla1 {
    position: center;
    
    }
.tabla2 {
    position: center;
    
    }
/*--------------Media Queries--------------*/
@media screen and (max-width: 800px) {
    
}